@{
    Layout = "~/Views/Shared/_Secured.cshtml";
}

@using Web.Models
@model List<CUser>

<h6>User Options</h6>
<br />
<br />
<br />
<h6>List of Users</h6>
@(Html.Kendo().Grid<CUser>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ID).Visible(false);
        columns.Bound(p => p.Username).Title("Username");
        columns.Bound(p => p.Firstname).Title("First Name");
        columns.Bound(p => p.Lastname).Title("Last Name");
        columns.Bound(p => p.RoleName).Title("Role");
        columns.Bound(p => p.Status).Title("Status");
        columns.Command(command => { command.Custom("Edit").Click("EditUser"); command.Custom("Delete").Click("DeleteUser"); }).Width(180);
    })
    .ToolBar(t =>
    {
        t.Template(@<text>
            <div>
                <a id="btnAdd" class="k-button k-button-icontext">
                    <span class="k-icon k-add"></span>
                    Add new user
                </a>
            </div>
        </text>);
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    //.Scrollable()
    .Sortable()
    .Filterable(a => a.Extra(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("Ajax_Read", "User"))
        .Events(events => events.Error("error_handler").Change("onChange"))
        .Model(model => model.Id(p => p.ID))
    )
    //.HtmlAttributes(new { @class = "k-window-custom" })
)

@(Html.Kendo().Window() 
    .Name("window") 
    .Content("loading page..") 
    .Iframe(true) 
    .Draggable() 
    .Visible(false) 
    .Height(465) 
    .Width(420) 
    .Modal(true)
)

<script type="text/javascript">
    $(function () {
        var _grid = $("#Grid").data("kendoGrid");

        _grid.bind("filterMenuInit", function (e) {
            if (e.field == "RoleName") {
                e.container.find("div.k-filter-help-text").text("Select a role from the list:");
                e.container.find("span.k-dropdown:first").css("display", "none");

                var dropDownList = e.container.find(".k-textbox:first")
                    .removeClass("k-textbox")
                    .kendoDropDownList({
                        dataSource: new kendo.data.DataSource({
                            data: [
                                { title: "Select Role" },
                                { title: "Admin" },
                                { title: "SuperUser" },
                                { title: "Encoder" }
                            ]
                        }),
                        dataTextField: "title",
                        dataValueField: "title"
                    });
            }
            if (e.field == "Status") {
                e.container.find("div.k-filter-help-text").text("Select a role from the list:");
                e.container.find("span.k-dropdown:first").css("display", "none");

                var dropDownList = e.container.find(".k-textbox:first")
                    .removeClass("k-textbox")
                    .kendoDropDownList({
                        dataSource: new kendo.data.DataSource({
                            data: [
                                { title: "Select Status" },
                                { title: "Active" },
                                { title: "Inactive" }
                            ]
                        }),
                        dataTextField: "title",
                        dataValueField: "title"
                    });
            }
        });

        $('#btnAdd').click(function () {
            $('#window')
                .data("kendoWindow")
                .title("Add new user")
                .refresh({
                    url: '@Url.Action("Update","User")'
                })
                .center()
                .open();
        });
    });


    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            jAlertBox(message, "Error");
            $('#Grid').data().kendoGrid.one('dataBinding', function (e) {
                e.preventDefault();
            })
        }
    }

    function onChange(arg) {
        if (arg.action != null) {
            console.log(arg.action);
            switch (arg.action) {
                case 'sync': $("#Grid").data("kendoGrid").dataSource.read(); break;
                default: break;
            }
        }
    }

    function DeleteUser(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        jConfirmBox("Are you sure you want to delete this user?", "Confirm Delete", function (result) {
            if (result) {
                var loader = $('body').loading({ settings: { text: 'DELETING ENTRY..' } });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Ajax_Delete", "User")',
                    contentType: 'application/json; charset=utf-8',
                    data: '{ "id":"' + dataItem.ID + '"}',
                    dataType: 'json',
                    success: function (result) {
                        loader.hideLoading();
                        jsonText = JSON.stringify(result);
                        data = JSON.parse(jsonText);
                        if (data.Errors == null) {
                            RefreshGrid();
                        }
                        else {
                            jAlertBox(data.Errors.data_error.errors[0], "Error");
                        }
                    }
                });
            }
        });
    }

    function EditUser(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var actionUrl = '@Url.Action("Update", "User", new { id = "PH1", mode = "EDIT"})';
        actionUrl = actionUrl.replace("PH1", dataItem.ID);
        $('#window')
            .data("kendoWindow")
            .title("Edit user")
            .refresh({
                url: actionUrl
            })
            .center()
            .open();
    }

    function RefreshGrid() {
        $("#Grid").data("kendoGrid").dataSource.read();
    }

    function CloseWindow() {
        $("#window").data("kendoWindow").close();
    }
</script>